.App {
  font-family: sans-serif;
  text-align: center;
}

.InputForm {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: left;
}

.DatePicker {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: left;
}
